* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
}

#board {
    background-image: url("./images/board-bg.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#status-bar {
    background-image: url("images/state-panel-bg.png");
    background-size: cover;
    background-position: center;
    height: 10vw;
}

#map {
    height: 60vh;
    width: 60vh;
    margin: 3vh auto 0;
}

.cell {
    border: 1px solid rgb(103, 101, 168);
    background-color: rgba(103, 101, 168, 0.4);
}

img {
    width: 100%;
}


.cell-selected {
    /*background-image: url("images/cell-hover-bg.png");*/
    background-image: url("images/cell-selected-bg.png");
    background-size: cover;
    /*background-position: center;*/
}

.cell:hover {
    background-image: url("images/cell-hover-bg.png");
    background-size: cover;
    background-position: center;
}

/*4*/